{% extends 'hospital/base.html' %}
{% load static %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> صفحه اصلی</li>
        <li class="breadcrumb-item"> دستگاه ها</li>
        <li class="breadcrumb-item"> {{ device.name }} </li>

        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
                <a class="btn" href="#">
                    <i class="icon-settings"></i>  تنظیمات</a>
            </div>
        </li>
    </ol>

    <div class="container-fluid col-md-12">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header">
                    مشخصات دستگاه
                </div>
                <div class="card-body">
                    <table class="detail-table">
                        <tr>
                            <th>نام دستگاه</th>
                            <td>{{ device.name }}</td>
                            <th style="padding-right: 30px">مدل دستگاه</th>
                            <td>{{ device.model }}</td>
                        </tr>
                        <tr>
                            <th>وضعیت دستگاه</th>
                            <td>{{ device.status }}</td>
                            <th>شرکت سازنده</th>
                            <td>{{ device.brand }}</td>
                        </tr>
                        <tr>
                            <th>گروه دستگاه</th>
                            <td>{{ device.group }}</td>
                            <th>دوره های زمانی سرویس</th>
                            <td>{{ device.regular_checks }}</td>
                        </tr>
                        <tr>
                            <th>توضیحات</th>
                            <td>{{ device.description }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <form method="POST" action="{% url 'devices:device' device.id %}">
                <div class="card">
                    <div class="card-header">
                        تغییر وضعیت دستگاه
                    </div>
                    <div class="card-body">

                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-3 col-form-label">{{ form.status.label }}</label>
                                    <div class="col-sm-6">
                                        {{ form.status }}
                                        {{ form.status.errors }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-sm-3 col-form-label">{{ form.phone_num.label }}</label>
                                    <div class="col-sm-6">
                                        {{ form.phone_num }}
                                        {{ form.phone_num.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="" class="col-sm-3 col-form-label">{{ form.status.label }}</label>
                                    <div class="col-sm-6">
                                        {{ form.status }}
                                        {{ form.status.errors }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-sm-3 col-form-label">{{ form.address.label }}</label>
                                    <div class="col-sm-6">
                                        {{ form.address }}
                                        {{ form.address.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="" class="col-sm-2 col-form-label">{{ form.description.label }}</label>
                                    <div class="col-sm-8">
                                        {{ form.description }}
                                        {{ form.description.errors }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success float-left">ارسال فرم</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="card">
                <div class="card-header">
                    تاریخچه وضعیت دستگاه
                </div>
                <div class="card-body">
                    <table class="table table-striped table-bordered data-tables dataTable no-footer">
                        <thead>
                        <tr>
                            <th>دستگاه</th>
                            <th>وضعیت</th>
                            <th>واگذار شده به</th>
                            <th>تلفن</th>
                            <th>تاریخ ایجاد</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for log in logs %}
                            <tr>
                                <td>{{ log.device }}</td>
                                <td>{{ log.status }}</td>
                                <td>{{ log.name }}</td>
                                <td>{{ log.phone_num }}</td>
                                <td>{{ log.created_at }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
