<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Hospital Management">
    <meta name="author" content="Hossein Bagherpour">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <link rel="shortcut icon" href="{% static 'hospital/img/favicon.png' %}" type="image/vnd.microsoft.icon" />
    <title>بیمارستان های ارتش جمهوری اسلامی ایران</title>
    <!-- Icons-->

    <link href="{% static 'hospital/modules/coreui/icons/css/coreui-icons.min.css' %}" rel="stylesheet">
    <link href="{% static 'hospital/modules/flag-icon-css/css/flag-icon.min.css' %}" rel="stylesheet">
    <link href="{% static 'hospital/modules/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'hospital/modules/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

    <!-- Main styles for this application-->
    <link href="{% static 'hospital/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'hospital/vendors/pace-progress/css/pace.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'hospital/modules/parsley/parsley.css' %}">
    <link href="{% static 'hospital/css/rtl.css' %}" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        // Shared ID
        gtag('config', 'UA-118965717-3');
        // Bootstrap ID
        gtag('config', 'UA-118965717-5');
    </script>
</head>
<body class="app flex-row align-items-center" style="background: url('{% static 'hospital/img/background.jpg' %}'); background-size:cover;">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        {% block body %}
                        {% endblock %}
                    </div>
                </div>
                {% comment %}<div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                    <div class="card-body text-center">
                        <div>
                            <h2>Sign up</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>
                            <button class="btn btn-primary active mt-3" type="button">Register Now!</button>
                        </div>
                    </div>
                </div>{% endcomment %}
            </div>
        </div>
    </div>
</div>
<!-- CoreUI and necessary plugins-->
<script src="{% static 'hospital/modules/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'hospital/modules/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'hospital/modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'hospital/modules/pace-progress/pace.min.js' %}"></script>
<script src="{% static 'hospital/modules/parsley/parsley.min.js' %}"></script>
<script src="{% static 'hospital/modules/parsley/parsley.extend.js' %}"></script>
<script src="{% static 'hospital/modules/parsley/i18n/fa.js' %}"></script>
<script src="{% static 'hospital/modules/perfect-scrollbar/dist/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'hospital/modules/coreui/coreui/dist/js/coreui.min.js' %}"></script>
{% block script %}
{% endblock %}
</body>
</html>